:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  color: #213547;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-left: 6px;
  margin-right: 6px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #404448;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.spotifyPlaylistCard {
  height: 300px;
  width: 700px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotifyPlaylistPicture {
  height: 200px;
  width: 200px;
  margin: 20px;
  margin-bottom: 10px;
}

.conditionsText {
  margin-top: 0px;
  margin-bottom: 20px;
}

.conditionsIcon {
  margin-top: 20px;
  margin-bottom: 0px;
}

.conditionsDiv {
  height: 100px;
  margin-bottom: 30px;
  ;
}

.resetButton {
  margin: 10px;
}

#root {
  background-color: rgb(251, 253, 255);
}

.weatherConditionsInfoText {
  margin-top: 5px;
}

.footerNameLinks {
  font-weight: 700;
}

#dataSourcesText {
  margin-top: 100px;
  margin-bottom: 10px;
  color: #213547;
}

.footerProjectName {
  margin: 0px;
}

#footerCreatorText {
  margin-top: 4px;
}

#spotifyPlaylistCardMiniCard {
  width: 400px;
}
